body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px; /* 余白を設定 */
    max-width: 800px; /* テキストの最大幅を設定 */
    margin: 0 auto; /* 水平方向に中央寄せ */
    background-color: black;
}
h1,h2,h3,h4,p {
    color: white;
}